#card {
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    background: rgb(22, 22, 22);
    color: #fff;
    max-width: 800px;
    border-top: #3cffde  solid 5px;
}

.container{
    display: flex;
    align-items: top;
    justify-content: center;
}

.item{
    /* border: #fff solid 1px; */
    padding: 10px;
    margin: 20px;
    width: 400px;
}

.app {
    max-width: 800px;
    padding: 20px;
    display: flex;
    flex-direction: row;
    border-top: 3px solid rgb(16, 180, 209);
    background: rgb(31, 31, 31);
    align-items: center;
}

img {
    width: 100px;
    height: 100px;
    margin-right: 20px;
    border-radius: 10%;
    border: 1px solid #fff;
    padding: 5px;
}

h1{
    text-align: center;
    padding: 10px;
}